@use "base" as *;
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

.toolbar {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  .barbu {
    input:hover {
      box-shadow: 5px 5px 5px $hover-color;
    }
  }
}

.page-container {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
}

.page-title {
  display: flex;
  height: 50px;
  background-color: $primary-color;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  font-size: 24px;
  color: $font-color;
}
.menu-title {
  display: flex;
  width: 100%;
  padding-left: 20px;
  font-size: 24px;
  color: $font-color;
}

.menu-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  background-color: $secondary-color;
  padding: 10px;

  ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  li {
    border: 1px solid gray;
    list-style: none;
    background-color: $menu-color;
    width: 100%;
    padding: 10px;

    &:hover {
      background-color: $hover-color;
      cursor: pointer;
    }
  }
}
.sticky-menu {
  position: sticky;
  top: 0;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 50px;
  justify-content: center;
  padding: 32px;
}

.card-item {
  border: 0.5px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 5px;
  width: 250px;
  height: 170px;

  &:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 3);
    cursor: pointer;
  }
}

footer {
  display: flex;
  padding: 24px;
  background-color: $menu-color;
  align-items: center;
}
@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
  }
  .toolbar {
    display: none;
  }
  .page-title {
    width: 100%;
  }
  nav {
    position: sticky;
    top: 0;
    width: 100%;
  }
  .page-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;

    .menu-title {
      display: none;
    }
    .sticky-menu {
      width: 100%;
    }
    ul {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: auto;
      gap: 15px;
    }
    li {
      padding: 0px 10px;
      text-align: center;
    }
  }

  .list {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }

  .card-item {
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    &:hover {
      box-shadow: none;
    }
  }
}
